body {
    margin: 0px;
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url(assets/cards-wallpaper.jpg);
    background-size: cover;
    color: white;
    position: relative;
    min-height: 100vh;
}


.titulo {
    text-align: center;
    color:  white;
    
}

.carta {
    
    width: 150px;
   
    
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}

.pantalla{
    height: 100vh !important;
  width:100vw !important;
}

.f{
    position: absolute;
    bottom: 0;  
    width: 100%;
    margin-top: 5%;
}



